@media screen and (max-width: 1400px) {
  #profile {
    min-height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    margin-left: 3rem;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    // width: 275px;
    // height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  #profile {
    min-height: 150%;
    
    .btn-container {
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  #about {
    .more-about-btn {
      float: none !important;
    }
  }

  #experience {
    .exp-bg-image {
      display: none;
    }
  }

  #projects {
    #projects-bg-progress {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  #skills-container .skills-container {
    gap: 20px 20px;
  }
}

@media screen and (max-width: 992px) {
  #projects-container .project {
    height: 33rem !important;
  }
}

@media screen and (max-width: 768px) {
  #projects-container .project {
    height: 40rem !important;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    // height: 40vh;
  }
  #profile {
    height: auto;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    // margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    // height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  #projects-container .project {
    height: 100svh !important;

    .project-title {
      font-size: 2rem;
      margin: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .section__pic-container {
    height: auto;

    > img {
      width: 280px;
      height: 280px;
      max-width: 100%;
    }
  }

  #skills-container .skills-container {
    gap: 20px 10px;
  }
}

// -------------------- min

@media screen and (min-width: 992px) {
  #projects-container {
    .project-wrapper:nth-child(even) .project-img-container {
      order: 1 !important;
    }
  }
}

@media screen and  (min-width: 1200px) {
  #projects-container {
    max-width: 90% !important;
  }
}

// -------------------- min-max

@media screen and (min-width: 768px) and (max-width: 992px) {
  #projects-container .project {
    .project-title  {
      font-size: 3rem
    }
  }
}