<div id="menu">
  <div class="menu-toggle">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <div class="fullscreen-menu">
    <ul>
      <li><a class="nav-link" href="/">Home</a></li>
      <li><a class="nav-link" href="/about">About</a></li>
      <li><a class="nav-link" href="/#projects">Projects</a></li>
      <li><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<nav id="desktop-nav" style="margin-left: 20%;">
  <div class="logo">
    <a class="no-style" href="/">Irtiza Babar</a>
  </div>
</nav>

<nav id="hamburger-nav">
  <div class="logo">Irtiza Babar</div>
  <div class="hamburger-menu">
  </div>
</nav>
