.font-lora {
  font-family: "Lora", serif;
}

a.btn {
  text-align: center !important;
  text-decoration: none !important;
}

a.no-style {
	text-decoration: none !important;
	color: inherit !important;

	&:hover {
		color: inherit !important;
	}
}

.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.bd-0 {
  border: 0 !important;
}

.content {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
  }
	a {
		text-underline-offset: 0.1rem !important;
	}

  ul {
    list-style: circle;
    margin: 1rem 0 1rem 1.2rem;
    font-size: 0.92rem;
    color: rgb(85, 85, 85);
    
    li {
      margin-bottom: 0.4rem;
    }
  }
}

ul.li-circle {
  list-style: circle;

  li {
    margin-bottom: 1rem;
  }
}

ul.list-style-none {
  list-style-type: none !important;
}

hr.light-hr {
  margin: 2rem 0.5rem;
  border-color: #cdcdcd;
  border-top: 0;
}